<div class="card bg-base-100 shadow">
  <div class="card-body p-0">
    @if (alumnos().length === 0) {
      <div class="alert alert-info">
        <span>No hay alumnos disponibles.</span>
      </div>
    } @else {
      <ul class="list">
        <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">Alumnos Registrados</li>
        @for (alumno of alumnosOrdenados(); track alumno.numeroDeControl; let last = $last) {
          <li
            class="list-row cursor-pointer rounded-t-none {{ !last ? 'rounded-b-none' : '' }} {{ alumno.numeroDeControl === alumnoSeleccionado()?.numeroDeControl ? 'bg-base-200 hover:bg-base-300' : 'hover:bg-base-200' }}"
            (click)="handleAlumnoSeleccionadoChange(alumno)"
          >
            <div><img class="size-10 rounded-box" [src]="getPhoto(alumno)" /></div>
            <div>
              <div>{{ alumno.nombre}} {{ alumno.apellidoPaterno }} {{ alumno.apellidoMaterno }}</div>
              <div class="text-xs uppercase font-semibold opacity-60">{{ alumno.numeroDeControl }}</div>
            </div>
            <div>
              <div class="tooltip tooltip-right" [attr.data-tip]="getFactoresDeRiesgo(alumno)">
                <span class="badge {{ getBadgeColor(alumno) }}">{{ alumno.factoresDeRiesgo.length }}</span>
              </div>
            </div>
          </li>
        }
      </ul>
    }
  </div>
</div>

