<section class="grid gap-4 grid-cols-12">
	<article class="col-span-4">
    @if (alumnos.hasValue()) {
      <app-alumnos-list
        [alumnos]="alumnos.value()"
        [alumnoSeleccionado]="alumnoSeleccionado()"
        (alumnoSeleccionadoChange)="handleAlumnoSeleccionadoChange($event)"
      />
    }
	</article>
	<article class="col-span-8">
    @if (alumnoDetalle.hasValue()) {
      <app-alumno-detalle [detalle]="alumnoDetalle.value()"></app-alumno-detalle>
    }
	</article>
</section>

<app-alumnos-fab></app-alumnos-fab>
