name: CI Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  contents: read

jobs:
  backend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v3
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest ruff
          pip install -r Backend/requirements.txt

      - name: Lint with flake8
        run: |
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

      - name: Ruff lint
        working-directory: Backend
        run: ruff check . || true

      - name: Test with pytest
        working-directory: .
        run: pytest --cov=. --cov-report=xml

      - name: Upload coverage
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage.xml

  frontend:
    name: Frontend (Angular)
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install Node dependencies
        run: npm ci --prefix frontend

      - name: Run Angular tests with coverage
        run: |
          npm test --prefix frontend -- --watch=false --browsers=ChromeHeadless --code-coverage

      - name: Upload frontend coverage
        uses: actions/upload-artifact@v4
        with:
          name: frontend-coverage
          path: coverage/frontend/lcov.info

      - name: Build Angular
        run: npm run build --prefix frontend

  sonarqube:
    name: SonarQube
    runs-on: ubuntu-latest

    needs: [backend, frontend]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Shallow clones should be disabled for a better relevancy of analysis
      - name: Download coverage artifact
        uses: actions/download-artifact@v4
        with:
          name: coverage-report
      - name: Download frontend coverage artifact
        uses: actions/download-artifact@v4
        with:
          name: frontend-coverage

      - name: SonarQube Scan
        uses: SonarSource/sonarcloud-github-action@v2
        with:
          args: >
            -Dsonar.python.coverage.reportPaths=Backend/coverage.xml
            -Dsonar.javascript.lcov.reportPaths=frontend/coverage/frontend/lcov.info
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
